<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div layout row>
	<f:switch expression="{data.flexform_grid}">
		<f:case value="25-75">
			<div flex three column>{data.tx_gridelements_view_columns.0 -> f:format.raw()}</div>
			<div flex nine column>{data.tx_gridelements_view_columns.1 -> f:format.raw()}</div>
		</f:case>

		<f:case value="33-66">
			<div flex four column>{data.tx_gridelements_view_columns.0 -> f:format.raw()}</div>
			<div flex eight column>{data.tx_gridelements_view_columns.1 -> f:format.raw()}</div>
		</f:case>

		<f:case value="66-33">
			<div flex eight column>{data.tx_gridelements_view_columns.0 -> f:format.raw()}</div>
			<div flex four column>{data.tx_gridelements_view_columns.1 -> f:format.raw()}</div>
		</f:case>

		<f:case value="75-25">
			<div flex nine column>{data.tx_gridelements_view_columns.0 -> f:format.raw()}</div>
			<div flex three column>{data.tx_gridelements_view_columns.1 -> f:format.raw()}</div>
		</f:case>

		<f:case value="50-50" default="TRUE">
			<div flex six column>{data.tx_gridelements_view_columns.0 -> f:format.raw()}</div>
			<div flex six column>{data.tx_gridelements_view_columns.1 -> f:format.raw()}</div>
		</f:case>
	</f:switch>
</div>
</html>
